<!DOCTYPE html>

<head>
  <title>Copisteria Julian</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- <script src="/javascripts/script.js" type="module" defer></script> --></head
><!--  script(src='https://cdnjs.cloudflare.com/ajax/libs/pug/3.0.2/pug.min.js', defer) -->
<style>
  .tinta {
    width: 50px;
    height: 50px;
    float: left;
    padding: 5px;
  }

  .impresoras-container {
    display: flex;
    justify-content: space-around;
  }

  .toner {
    display: flex;
  }

  img {
    cursor: pointer;
  }
</style>
<div class="container">
  <div class="row">
    <h3>
      Hojas:
      <div class="contadorHojas"></div>
    </h3>
    <p>Introduce la impresora y el texto a imprimir</p>
    <form class="form-inline" action="index.php" method="get" role="form">
      Impresora:
      <select class="form-control" name="n_impresora" id="n_impresora">
        <option value="A2">A2</option>
        <option value="A3">A3</option>
        <option value="A4">A4</option>
      </select>
    </form>
  </div>
  <textarea class="form-control" rows="4" name="texto" id="texto"></textarea
  ><input type="submit" value="Enviar a impresora" id="enviar" />
</div>
<div class="container">
  <div class="row"></div>
  <div class="impresoras-container"></div>
</div>

<script type="text/javascript" defer>
  document.addEventListener("DOMContentLoaded", function () {
    let contadorHojas = document.querySelector(".contadorHojas");
  let contador = parseInt(sessionStorage.getItem("contadorHojas")) || 0;
  contadorHojas.innerHTML = contador;

  let contenedor = document.querySelector(".impresoras-container");
 
  let listaHojas = [{ A2: [] }, { A3: [] }, { A4: [] }];
    if (sessionStorage.getItem("listaHojas")) {
    listaHojas = JSON.parse(sessionStorage.getItem("listaHojas"));
  } else {
    sessionStorage.setItem("listaHojas", JSON.stringify(listaHojas));
  }

    let enviar = document.getElementById("enviar");
    enviar.addEventListener("click", () => a침adirHojas());

    getImpresoras();

    function getImpresoras() {
      contenedor.innerHTML = "";
      fetch("http://localhost:1337/impresoras")
        .then((response) => response.json())
        .then((data) => {
          const impresoras = data;
      
          for (let impresora of impresoras) {
           
            let divRow = document.createElement("div");
            divRow.classList.add("row");
            contenedor.appendChild(divRow);

            let divCol = document.createElement("div");
            divCol.classList.add("col-sm-4");
            divRow.appendChild(divCol);

            let enlace = document.createElement("div");
            enlace.addEventListener("click", () => imprimir(impresora.id));
            divCol.appendChild(enlace);

            let img = document.createElement("img");
            img.src = "/images/" + impresora.id + ".jpg";
            img.alt = impresora.id;
            enlace.appendChild(img);

            let contenedorToner = document.createElement("div");
            contenedorToner.classList.add("row");

            let divToner = document.createElement("div");
            divToner.classList.add("toner");
            contenedorToner.appendChild(divToner);

            divCol.appendChild(contenedorToner);

            let divNegro = document.createElement("div");
            divNegro.classList.add("tinta");
            divNegro.style.backgroundColor = `black`;
            divNegro.textContent = `${impresora.negro}%`;
            divToner.appendChild(divNegro);

            let divAmarillo = document.createElement("div");
            divAmarillo.classList.add("tinta");
            divAmarillo.style.backgroundColor = `yellow`;
            divAmarillo.textContent = `${impresora.amarillo}%`;
            divToner.appendChild(divAmarillo);

            let divCyan = document.createElement("div");
            divCyan.classList.add("tinta");
            divCyan.style.backgroundColor = `cyan`;
            divCyan.textContent = `${impresora.cyan}%`;
            divToner.appendChild(divCyan);

            let divMagenta = document.createElement("div");
            divMagenta.classList.add("tinta");
            divMagenta.style.backgroundColor = `magenta`;
            divMagenta.textContent = `${impresora.magenta}%`;
            divToner.appendChild(divMagenta);

            let contenedorLista = document.createElement("div");
            contenedorLista.classList.add("row");

            let lista = document.createElement("ul");
            lista.classList.add("list-group");
            lista.id = `listaHojas_${impresora.id}`;

            let listaHojas = JSON.parse(sessionStorage.getItem("listaHojas"));
       
            listaHojas.forEach((hojas, i) => {
              const papel = Object.keys(hojas)[0];
              if (papel === impresora.id) {
                hojas[papel].forEach((hoja) => {
                  let li = document.createElement("li");
                  li.classList.add("list-group-item");
                  li.innerHTML = hoja;
                  lista.appendChild(li);
                });
              }
            });
            contenedorLista.appendChild(lista);

            divCol.appendChild(contenedorLista);
          }
        })
        .catch((error) => console.error(error));
    }

    function a침adirHojas() {
      contador++;
      contadorHojas.innerHTML = contador;
      sessionStorage.setItem("contadorHojas", contador);

      let n_impresora = document.getElementById("n_impresora").value;
      let texto = document.getElementById("texto").value;
      // Obtengo la lista de hojas de la sesi칩n y convertirla a un objeto
      let listaHojas = JSON.parse(sessionStorage.getItem("listaHojas"));
      // Encontrar la impresora del id que le paso
      let impresora = listaHojas.find((i) => Object.keys(i)[0] === n_impresora);
      impresora[n_impresora].push(texto);
      sessionStorage.setItem("listaHojas", JSON.stringify(listaHojas));

      anadirHojasAImpresora(listaHojas, n_impresora);
    }

    function anadirHojasAImpresora(listaHojas, n_impresora) {
      let lista = document.getElementById("listaHojas_" + n_impresora);
      lista.innerHTML = "";
      // A침adir la lista de hojas a la lista HTML
      listaHojas.forEach((hojas, i) => {
        const papel = Object.keys(hojas)[0];
        if (papel === n_impresora) {
          hojas[papel].forEach((hoja) => {
            let li = document.createElement("li");
            li.classList.add("list-group-item");
            li.innerHTML = hoja;
            lista.appendChild(li);
          });
        }
      });
    }

    function imprimir(id) {
      
      fetch(`http://localhost:1337/impresoras/${id}`, { method: "PUT" })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          let listaHojas = JSON.parse(sessionStorage.getItem("listaHojas"));
          let impresora = listaHojas.find((i) => Object.keys(i)[0] === id);
          impresora[id].shift();
          sessionStorage.setItem("listaHojas", JSON.stringify(listaHojas));

          getImpresoras();
        })
        .catch((error) => console.error(error));
    }

    /* fetch('http://localhost:1337/impresoras', { method: "GET" }).then(function(response) {
        return response.json();
    }).then(function(impresoras) {
        console.log(impresoras);
    }); */
  });
</script>
